<div class="divPrincipal">
    <div class="headerSeccion">
        <div class="titulo">
            <h2>Configuracion de rutas</h2>
        </div>
        <div class="buttonsHeader">
            <button mat-raised-button (click)="openDialog()"><mat-icon>update</mat-icon> Crear excepcion</button>
            <button mat-raised-button><mat-icon>filter_alt</mat-icon>Filtrar</button>
        </div>
    </div>



    <div class="contentPrincipal">
        <div class="rutaContent">
            <div class="tituloRuta">
                <h1>CVMJAL01</h1>
            </div>
            <div class="sectionRutas">
                <div class="infoRutas">
                    <label>Configuracion: <span>100%</span> (20 de 20)</label> <br>
                    <label class="labelExcep">Sin excepciones futuras</label>
                </div>
                <div class="buttonsRutas">
                    <button  mat-raised-button (click)="openDialogExcepcionesFuturas()" ><mat-icon>update</mat-icon> </button>
                    <button  mat-raised-button ><mat-icon>pending_actions</mat-icon> Editar horarios</button>
                </div>
            </div>
        </div>
        
        <div class="rutaContent">
            <div class="tituloRuta">
                <h1>CVMJAL02</h1>
            </div>
            <div class="sectionRutas">
                <div class="infoRutas">
                    <label>Configuracion: <span>100%</span> (20 de 20)</label> <br>
                    <label class="labelExcep">Sin excepciones futuras</label>
                </div>
                <div class="buttonsRutas">
                    <button  mat-raised-button ><mat-icon>update</mat-icon> </button>
                    <button  mat-raised-button ><mat-icon>pending_actions</mat-icon> Editar horarios</button>
                </div>
            </div>
        </div>
        
        <div class="rutaContent">
            <div class="tituloRuta">
                <h1>CVMJAL03</h1>
            </div>
            <div class="sectionRutas">
                <div class="infoRutas">
                    <label>Configuracion: <span>100%</span> (20 de 20)</label> <br>
                    <label class="labelExcep">Sin excepciones futuras</label>
                </div>
                <div class="buttonsRutas">
                    <button  mat-raised-button ><mat-icon>update</mat-icon> </button>
                    <button  mat-raised-button ><mat-icon>pending_actions</mat-icon> Editar horarios</button>
                </div>
            </div>
        </div>


        <div class="rutaContent">
            <div class="tituloRuta">
                <h1>CVMJAL08</h1>
            </div>
            <div class="sectionRutas">
                <div class="infoRutas">
                    <label>Configuracion: <span>100%</span> (20 de 20)</label> <br>
                    <label class="labelExcep">Sin excepciones futuras</label>
                </div>
                <div class="buttonsRutas">
                    <button  mat-raised-button ><mat-icon>update</mat-icon> </button>
                    <button  mat-raised-button ><mat-icon>pending_actions</mat-icon> Editar horarios</button>
                </div>
            </div>
        </div>


        <div class="rutaContent">
            <div class="tituloRuta">
                <h1>CVMJAL09</h1>
            </div>
            <div class="sectionRutas">
                <div class="infoRutas">
                    <label>Configuracion: <span>100%</span> (20 de 20)</label> <br>
                    <label class="labelExcep">Sin excepciones futuras</label>
                </div>
                <div class="buttonsRutas">
                    <button  mat-raised-button ><mat-icon>update</mat-icon> </button>
                    <button  mat-raised-button ><mat-icon>pending_actions</mat-icon> Editar horarios</button>
                </div>
            </div>
        </div>


        <div class="rutaContent">
            <div class="tituloRuta">
                <h1>CVMJAL11</h1>
            </div>
            <div class="sectionRutas">
                <div class="infoRutas">
                    <label>Configuracion: <span>100%</span> (20 de 20)</label> <br>
                    <label class="labelExcep">Sin excepciones futuras</label>
                </div>
                <div class="buttonsRutas">
                    <button  mat-raised-button ><mat-icon>update</mat-icon> </button>
                    <button  mat-raised-button ><mat-icon>pending_actions</mat-icon> Editar horarios</button>
                </div>
            </div>
        </div>


        <div class="rutaContent">
            <div class="tituloRuta">
                <h1>CVMJAL14</h1>
            </div>
            <div class="sectionRutas">
                <div class="infoRutas">
                    <label>Configuracion: <span>100%</span> (20 de 20)</label> <br>
                    <label class="labelExcep">Sin excepciones futuras</label>
                </div>
                <div class="buttonsRutas">
                    <button  mat-raised-button ><mat-icon>update</mat-icon> </button>
                    <button  mat-raised-button ><mat-icon>pending_actions</mat-icon> Editar horarios</button>
                </div>
            </div>
        </div>


        <div class="rutaContent">
            <div class="tituloRuta">
                <h1>CVMJAL16</h1>
            </div>
            <div class="sectionRutas">
                <div class="infoRutas">
                    <label>Configuracion: <span>100%</span> (20 de 20)</label> <br>
                    <label class="labelExcep">Sin excepciones futuras</label>
                </div>
                <div class="buttonsRutas">
                    <button  mat-raised-button ><mat-icon>update</mat-icon> </button>
                    <button  mat-raised-button ><mat-icon>pending_actions</mat-icon> Editar horarios</button>
                </div>
            </div>
        </div>


        <div class="rutaContent">
            <div class="tituloRuta">
                <h1>CVMJAL18</h1>
            </div>
            <div class="sectionRutas">
                <div class="infoRutas">
                    <label>Configuracion: <span>100%</span> (20 de 20)</label> <br>
                    <label class="labelExcep">Sin excepciones futuras</label>
                </div>
                <div class="buttonsRutas">
                    <button  mat-raised-button ><mat-icon>update</mat-icon> </button>
                    <button  mat-raised-button ><mat-icon>pending_actions</mat-icon> Editar horarios</button>
                </div>
            </div>
        </div>


        <div class="rutaContent">
            <div class="tituloRuta">
                <h1>CVMJAL20</h1>
            </div>
            <div class="sectionRutas">
                <div class="infoRutas">
                    <label>Configuracion: <span>100%</span> (20 de 20)</label> <br>
                    <label class="labelExcep">Sin excepciones futuras</label>
                </div>
                <div class="buttonsRutas">
                    <button  mat-raised-button ><mat-icon>update</mat-icon> </button>
                    <button  mat-raised-button ><mat-icon>pending_actions</mat-icon> Editar horarios</button>
                </div>
            </div>
        </div>


        <div class="rutaContent">
            <div class="tituloRuta">
                <h1>CVMJAL21</h1>
            </div>
            <div class="sectionRutas">
                <div class="infoRutas">
                    <label>Configuracion: <span>100%</span> (20 de 20)</label> <br>
                    <label class="labelExcep">Sin excepciones futuras</label>
                </div>
                <div class="buttonsRutas">
                    <button  mat-raised-button ><mat-icon>update</mat-icon> </button>
                    <button  mat-raised-button ><mat-icon>pending_actions</mat-icon> Editar horarios</button>
                </div>
            </div>
        </div>


    </div>


</div>
