<div class="divPrincipal">
    <div class="headerSeccion">
      <div class="titulo">
          <h2>Configuracion de Horarios</h2> <br>
          <label>CVMJAL01</label>
      </div>
      <div class="buttonsHeader">
          <button mat-raised-button><mat-icon>save</mat-icon> Guardar</button>
      </div>
    </div>


    <div class="divContent">
        <div class="columnas">
            <div class="columaHeader">
                <h2 class="textHeader">Lunes</h2>
            </div>

            <div class="horarioRuta">
                <div class="headerRuta">
                    <h4 class="tituloHorario">La Resolana</h4>
                </div>
                <div class="divHorario">
                    <mat-icon class="iconFlecha"></mat-icon>
                    <input type="time" placeholder="Hora de inicio">
                    <mat-icon class="iconFlecha">arrow_forward_ios</mat-icon>
                </div>
                <div class="divTipoHorario">
                    <select>
                        <option value="">Zona Horaria</option>
                        <option value="">UTC-5 (Sureste)</option>
                        <option value="">UTC-6 (Centro)</option>
                        <option value="">UTC-7 (Pacífico)</option>
                        <option value="">UTC-8 (Noreste)</option>
                      </select>
                </div>
                <div class="divDuracion">
                    <input type="text" placeholder="Duracion (min)">
                </div>
            </div>


            <div class="horarioRuta">
                <div class="headerRuta">
                    <h4 class="tituloHorario">La Resolana</h4>
                </div>
                <div class="divHorario">
                    <mat-icon class="iconFlecha"></mat-icon>
                    <input type="time" placeholder="Hora de inicio">
                    <mat-icon class="iconFlecha">arrow_forward_ios</mat-icon>
                </div>
                <div class="divTipoHorario">
                    <select>
                        <option value="">Zona Horaria</option>
                        <option value="">UTC-5</option>
                        <option value="">UTC-6</option>
                        <option value="">UTC-7</option>
                        <option value="">UTC-8</option>
                      </select>
                </div>
                <div class="divDuracion">
                    <input type="text" placeholder="Duracion (min)">
                </div>
            </div>


            <div class="horarioRuta">
                <div class="headerRuta">
                    <h4 class="tituloHorario">La Resolana</h4>
                </div>
                <div class="divHorario">
                    <mat-icon class="iconFlecha"></mat-icon>
                    <input type="time" placeholder="Hora de inicio">
                    <mat-icon class="iconFlecha">arrow_forward_ios</mat-icon>
                </div>
                <div class="divTipoHorario">
                    <select>
                        <option value="">Zona Horaria</option>
                        <option value="">UTC-5</option>
                        <option value="">UTC-6</option>
                        <option value="">UTC-7</option>
                        <option value="">UTC-8</option>
                      </select>
                </div>
                <div class="divDuracion">
                    <input type="text" placeholder="Duracion (min)">
                </div>
            </div>


            <div class="horarioRuta">
                <div class="headerRuta">
                    <h4 class="tituloHorario">La Resolana</h4>
                </div>
                <div class="divHorario">
                    <mat-icon class="iconFlecha"></mat-icon>
                    <input type="time" placeholder="Hora de inicio">
                    <mat-icon class="iconFlecha">arrow_forward_ios</mat-icon>
                </div>
                <div class="divTipoHorario">
                    <select>
                        <option value="">Zona Horaria</option>
                        <option value="">UTC-5</option>
                        <option value="">UTC-6</option>
                        <option value="">UTC-7</option>
                        <option value="">UTC-8</option>
                      </select>
                </div>
                <div class="divDuracion">
                    <input type="text" placeholder="Duracion (min)">
                </div>
            </div>

        </div>


        <div class="columnas">
            <div class="columaHeader">
                <h2 class="textHeader">Martes</h2>
            </div>

            <div class="horarioRuta">
                <div class="headerRuta">
                    <h4 class="tituloHorario">La Resolana</h4>
                </div>
                <div class="divHorario">
                    <mat-icon class="iconFlecha">arrow_back_ios</mat-icon>
                    <input type="time" placeholder="Hora de inicio">
                    <mat-icon class="iconFlecha">arrow_forward_ios</mat-icon>
                </div>
                <div class="divTipoHorario">
                    <select>
                        <option value="">Zona Horaria</option>
                        <option value="">UTC-5</option>
                        <option value="">UTC-6</option>
                        <option value="">UTC-7</option>
                        <option value="">UTC-8</option>
                      </select>
                </div>
                <div class="divDuracion">
                    <input type="text" placeholder="Duracion (min)">
                </div>
            </div>

        </div>


        <div class="columnas">
            <div class="columaHeader">
                <h2 class="textHeader">Miercoles</h2>
            </div>


            <div class="horarioRuta">
                <div class="headerRuta">
                    <h4 class="tituloHorario">La Resolana</h4>
                </div>
                <div class="divHorario">
                    <mat-icon class="iconFlecha">arrow_back_ios</mat-icon>
                    <input type="time" placeholder="Hora de inicio">
                    <mat-icon class="iconFlecha">arrow_forward_ios</mat-icon>
                </div>
                <div class="divTipoHorario">
                    <select>
                        <option value="">Zona Horaria</option>
                        <option value="">UTC-5</option>
                        <option value="">UTC-6</option>
                        <option value="">UTC-7</option>
                        <option value="">UTC-8</option>
                      </select>
                </div>
                <div class="divDuracion">
                    <input type="text" placeholder="Duracion (min)">
                </div>
            </div>


            <div class="horarioRuta">
                <div class="headerRuta">
                    <h4 class="tituloHorario">La Resolana</h4>
                </div>
                <div class="divHorario">
                    <mat-icon class="iconFlecha">arrow_back_ios</mat-icon>
                    <input type="time" placeholder="Hora de inicio">
                    <mat-icon class="iconFlecha">arrow_forward_ios</mat-icon>
                </div>
                <div class="divTipoHorario">
                    <select>
                        <option value="">Zona Horaria</option>
                        <option value="">UTC-5</option>
                        <option value="">UTC-6</option>
                        <option value="">UTC-7</option>
                        <option value="">UTC-8</option>
                      </select>
                </div>
                <div class="divDuracion">
                    <input type="text" placeholder="Duracion (min)">
                </div>
            </div>

        </div>



        <div class="columnas">
            <div class="columaHeader">
                <h2 class="textHeader">Jueves</h2>
            </div>


            <div class="horarioRuta">
                <div class="headerRuta">
                    <h4 class="tituloHorario">La Resolana</h4>
                </div>
                <div class="divHorario">
                    <mat-icon class="iconFlecha">arrow_back_ios</mat-icon>
                    <input type="time" placeholder="Hora de inicio">
                    <mat-icon class="iconFlecha">arrow_forward_ios</mat-icon>
                </div>
                <div class="divTipoHorario">
                    <select>
                        <option value="">Zona Horaria</option>
                        <option value="">UTC-5</option>
                        <option value="">UTC-6</option>
                        <option value="">UTC-7</option>
                        <option value="">UTC-8</option>
                      </select>
                </div>
                <div class="divDuracion">
                    <input type="text" placeholder="Duracion (min)">
                </div>
            </div>

            <div class="horarioRuta">
                <div class="headerRuta">
                    <h4 class="tituloHorario">La Resolana</h4>
                </div>
                <div class="divHorario">
                    <mat-icon class="iconFlecha">arrow_back_ios</mat-icon>
                    <input type="time" placeholder="Hora de inicio">
                    <mat-icon class="iconFlecha">arrow_forward_ios</mat-icon>
                </div>
                <div class="divTipoHorario">
                    <select>
                        <option value="">Zona Horaria</option>
                        <option value="">UTC-5</option>
                        <option value="">UTC-6</option>
                        <option value="">UTC-7</option>
                        <option value="">UTC-8</option>
                      </select>
                </div>
                <div class="divDuracion">
                    <input type="text" placeholder="Duracion (min)">
                </div>
            </div>
            
            <div class="horarioRuta">
                <div class="headerRuta">
                    <h4 class="tituloHorario">La Resolana</h4>
                </div>
                <div class="divHorario">
                    <mat-icon class="iconFlecha">arrow_back_ios</mat-icon>
                    <input type="time" placeholder="Hora de inicio">
                    <mat-icon class="iconFlecha">arrow_forward_ios</mat-icon>
                </div>
                <div class="divTipoHorario">
                    <select>
                        <option value="">Zona Horaria</option>
                        <option value="">UTC-5</option>
                        <option value="">UTC-6</option>
                        <option value="">UTC-7</option>
                        <option value="">UTC-8</option>
                      </select>
                </div>
                <div class="divDuracion">
                    <input type="text" placeholder="Duracion (min)">
                </div>
            </div>

        </div>



        <div class="columnas">
            <div class="columaHeader">
                <h2 class="textHeader">Viernes</h2>
            </div>

            <div class="horarioRuta">
                <div class="headerRuta">
                    <h4 class="tituloHorario">La Resolana</h4>
                </div>
                <div class="divHorario">
                    <mat-icon class="iconFlecha">arrow_back_ios</mat-icon>
                    <input type="time" placeholder="Hora de inicio">
                    <mat-icon class="iconFlecha">arrow_forward_ios</mat-icon>
                </div>
                <div class="divTipoHorario">
                    <select>
                        <option value="">Zona Horaria</option>
                        <option value="">UTC-5</option>
                        <option value="">UTC-6</option>
                        <option value="">UTC-7</option>
                        <option value="">UTC-8</option>
                      </select>
                </div>
                <div class="divDuracion">
                    <input type="text" placeholder="Duracion (min)">
                </div>
            </div>

        </div>



        <div class="columnas">
            <div class="columaHeader">
                <h2 class="textHeader">Sabado</h2>
            </div>


            <div class="horarioRuta">
                <div class="headerRuta">
                    <h4 class="tituloHorario">La Resolana</h4>
                </div>
                <div class="divHorario">
                    <mat-icon class="iconFlecha">arrow_back_ios</mat-icon>
                    <input type="time" placeholder="Hora de inicio">
                    <mat-icon class="iconFlecha"></mat-icon>
                </div>
                <div class="divTipoHorario">
                    <select>
                        <option value="">Zona Horaria</option>
                        <option value="">UTC-5</option>
                        <option value="">UTC-6</option>
                        <option value="">UTC-7</option>
                        <option value="">UTC-8</option>
                      </select>
                </div>
                <div class="divDuracion">
                    <input type="text" placeholder="Duracion (min)">
                </div>
            </div>


            <div class="horarioRuta">
                <div class="headerRuta">
                    <h4 class="tituloHorario">La Resolana</h4>
                </div>
                <div class="divHorario">
                    <mat-icon class="iconFlecha">arrow_back_ios</mat-icon>
                    <input type="time" placeholder="Hora de inicio">
                    <mat-icon class="iconFlecha"></mat-icon>
                </div>
                <div class="divTipoHorario">
                    <select>
                        <option value="">Zona Horaria</option>
                        <option value="">UTC-5</option>
                        <option value="">UTC-6</option>
                        <option value="">UTC-7</option>
                        <option value="">UTC-8</option>
                      </select>
                </div>
                <div class="divDuracion">
                    <input type="text" placeholder="Duracion (min)">
                </div>
            </div>


        </div>



    </div>
  </div>