<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened class="example-sidenav">

    <div class="headerNav">
        <div class="iconHeader">
          <button mat-icon-button ><mat-icon class="iconNavHeader">account_circle</mat-icon></button>
        </div>
        <div class="textHeader">
          <p class="textNavHeader">García López Carlos</p>
          <label class="textRol">Aministrador Global</label>
        </div>
    </div>

    <div class="nav-content">
      <label>Operaciones</label>
      <p> <mat-icon class="iconNavContent">share_location</mat-icon> <a href="/nosotros">Lideres de Grupo</a> </p>
      <label>Riesgos/Normatividad</label>
      <p> <mat-icon class="iconNavContent">gavel</mat-icon> <a href="/contactos">Documentacion de Fraudes</a> </p>
    </div>
  </mat-sidenav>


  <mat-sidenav-content >

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

