<div class="divPrincipal">
  <div class="headerSeccion">
    <div class="titulo">
        <h2>Monitoreo de rutas</h2>
    </div>
    <div class="buttonsHeader">
        <button mat-raised-button><mat-icon>today</mat-icon> 10 de Mar, 22 <mat-icon>arrow_drop_down</mat-icon></button>
        <button mat-raised-button><mat-icon>filter_alt</mat-icon>Filtrar</button>
    </div>
  </div>
   
  <div class="contentPrincipal">
    <div class="headerDiv">
      <div class="ruta">
        <h3>CVMJAL01</h3>
        <label class="labelRuta">Ultima actualizacion: hace 2 minutos</label>
      </div>
      <div class="progreso">
        <label class="labelProgreso">Progreso de grupos: 4 cerrados, 1 en progreso, 3 pendientes</label> <br>
        <label class="labelProgreso">Desviacion toal: <span>45 minutos de retraso</span></label>
      </div>
    </div>

    <div class="contentDiv">
      <div class="barraRutas">
        <button class="butonBarra">.</button>
        <button class="butonBarra">17 min</button>
        <button class="butonBarra">30 min</button>
      </div>

      <div class="nombreRutas">
        <label class="labelBarra">Guadalajara</label>
        <label class="labelBarra">Guadalajara</label>
        <label class="labelBarra">Guadalajara</label>
      </div>

    </div>
    


  </div>


</div>