<div class="contentPrincipal">
    <div class="header">
        <h3>Excepciones futuras</h3>
        <label class="labelHeader">CVMJAL01</label>
    </div>


    <div class="content">
        <div class="infoContent">
            <label class="nameCountry">La resolana</label>
            <span class="infoCountry1">No opera el sabado 19-Mar-22</span>
        </div>
        <div class="buttonsContent">
            <mat-icon class="editButon">edit</mat-icon>
            <mat-icon class="deleteButon">delete</mat-icon>
        </div>
    </div>


    <div class="content">
        <div class="infoContent">
            <label class="nameCountry">Los Patitos</label>
            <span class="infoCountry2">Jue17-Mar-22 → Vie 18-Mar-22 14:00 hrs (90 min)</span>
        </div>
        <div class="buttonsContent">
            <mat-icon class="editButon">edit</mat-icon>
            <mat-icon class="deleteButon">delete</mat-icon>
        </div>
    </div>


    <div class="content">
        <div class="infoContent">
            <label class="nameCountry">Los Patitos</label>
            <span class="infoCountry2">Jue17-Mar-22 → Vie 18-Mar-22 14:00 hrs (90 min)</span>
        </div>
        <div class="buttonsContent">
            <mat-icon class="editButon">edit</mat-icon>
            <mat-icon class="deleteButon">delete</mat-icon>
        </div>
    </div>





    <div class="footer">
        <button>CERRAR</button>
    </div>
    
</div>